@media (min-width: 992px) {
  .prime-video-container {
    height: 100vh;
    background-color: black;
    overflow: auto;
  }
  .prime-video-image {
    width: 100%;
    height: 50%;
  }
  .movies-heading {
    color: white;
    font-family: roboto;
  }
  .slider-container {
    padding: 40px;
    padding-top: 0;
  }
}
